@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  @apply font-sans;
  
  max-width: 100dvw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  @apply bg-theme-black;
}

a {
  @apply text-inherit;
  
  text-decoration: none;
}

a:not([href^="#"]) {
  @apply font-mono text-xs lowercase hover:underline;
}

